{% block content %}
    <div class="row">
        <div class="col-12 p-2">

            <p>Caro(a) responsável,</p>
            <p>Obrigado por fazer sua atualização cadastral. Se precisar rever algum dado até o dia XX/XX,
              basta entrar novamente no formulário e corrigir os dados enviados.</p>
            <p>Em breve a Secretaria Municipal de Educação fará novo contato,
              com mais informações sobre como se dará o processo de compra dos uniformes escolares pelas famílias.</p>

            <p>Atenciosamente, </p>
            <p>Secretaria Municipal de Educação Prefeitura de São Paulo</p>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
