{% block content %}
    <div class="row">
        <div class="col-12 p-2">
            <p>Caro(a) responsável pelo estudante {{ nome }},</p>
            <p>
              Os dados informados por você no pedido do uniforme escolar apresentam inconsistência no processamento final da solicitação.
            </p>
            <p>
              Por favor, assim que o recesso emergencial em função da pandemia provocada pelo novo coronavírus terminar e as escolas reabrirem, compareça o quanto antes à secretaria da unidade e apresente um documento de identificação, com foto, e seu comprovante de CPF.
            </p>
            <p>Obs.: Caso tenha mais de um filho em escolas diferentes, basta comparecer a uma escola.</p>


            <p>Atenciosamente, </p>
            <p>Secretaria Municipal de Educação<br>
              Prefeitura de São Paulo</p>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
