{% block content %}
    <div class="row">
        <div class="col-12 p-2">
            <p>Caro(a) responsável,</p>
            <p>O seu pedido do uniforme escolar já foi registrado. Nos próximos dias você receberá
              no e-mail cadastrado orientações sobre os próximos passos para realizar a compra nas lojas credenciadas.</p>
            <p>Acompanhe também as novidades sobre o novo processo de compra descentralizada pelas famílias diretamente
              no Portal do Uniforme: <br>
              <a href="educacao.sme.prefeitura.sp.gov.br/portaldouniforme">educacao.sme.prefeitura.sp.gov.br/portaldouniforme</a>
            </p>

            <p>Atenciosamente, </p>
            <p>Secretaria Municipal de Educação<br>
              Prefeitura de São Paulo</p>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
